@import "./reset.css";

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--color-light);
    background-color: var(--color-dark);
}
:root {
    --color-light: #fff;
    --color-grey: #838383;
    --color-dark: #1d1d1f;
    --color-red: rgb(126, 20, 20);
}
.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER SECTION */
.header {
    height: 70px;
    background-color: var(--color-light);
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

.logo__num {
    color: var(--color-red);
}

.header__menu {
    display: flex;
    column-gap: 40px;
}

.header__link {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
    transition: 0.3s;
}

.header__link:hover {
    color: var(--color-red);
}

.header__btn {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid  var(--color-dark);
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.header__btn:hover {
    /* background: rgb(105, 68, 68); */
    background: var(--color-dark);
    color: var(--color-light);
}
.burger {
    display: none;
}
.burger__btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.burger__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
    height: 2px;
    width: 100%;
    background-color: var(--color-dark);
    border-radius: 1px;
    transition: 0.3s;
}
.burger__btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
    height: 2px;
    width: 100%;
    background-color: var(--color-dark);
    border-radius: 1px;
    transition: 0.3s;
}
.burger__line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; 
    height: 2px;
    width: 100%;
    background-color: var(--color-dark);
    border-radius: 1px;
    transition: 0.3s;
}
#burger:checked + .burger__btn > .burger__line {
    width: 0;
}
#burger:checked + .burger__btn::before {
    top: 7.5px;
    margin: auto;
    transform: rotate(45deg);
}
#burger:checked + .burger__btn::after {
    bottom: 7.5px;
    margin: auto;
    transform: rotate(-45deg);
}
.burger__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed;
    height: 100vh;
    width: 90vw;
    left: -90vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.829);
    transition: 0.6s;
}
.burger__item {
    padding: 10px 40px;
    margin: 40px;
    background-color: #000;
    font-size: 28px;
    text-align: center;
    border: 1px solid #ffffff;
    font-family: sans-serif;
    cursor: pointer;
}
.burger__item:not(:last-child) {
    margin-bottom: 10px;
}
.burger__exit {
    position: absolute;
    right: 30px;;
    top: 30px;
    width: 50px;
    height: 50px;
}
.burger__exit::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 11px;
    transform: rotate(45deg);
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}
.burger__exit::after {
    content: '';
    position: absolute;
    top: 23.5px;
    width: 50px;
    height: 3px;
    margin-left: -3px;
    background-color: #ffffff;
}
#burger:checked ~ .burger__menu {
    left: 0;
}
/* HEADER SECTION */

/* HERO */
.hero {
    padding-top: 180px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 900px;
    background: url(../src/hero\ \(3\).jpg) no-repeat center/cover;
    background-attachment: fixed;
}
.hero__title {
    margin-bottom: 30px;
    font-size: 76px;
    font-weight: 600;
    line-height: normal;
}
.hero__desc {
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}
.btn {
    padding: 20px;
    min-width: 180px;
    color: var(--color-dark);
    background-color: var(--color-light);
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    border-radius: 30px;
    transition: color 0.3s  ease-in-out, background-color 0.3s ease-in-out;
}
.btn-light {
    color: var(--color-dark);
    background-color: var(--color-light);
}
.btn-light:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
}
.btn-dark {
    color: var(--color-light);
    background-color: var(--color-dark);
}
.btn-dark:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
}
/* HERO */

/* SPECIALS SECTION */
.specials {
    padding: 90px 0;
    text-align: center;
    background-color: var(--color-dark);
}
.sp__title {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    letter-spacing: 2.306px;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.sp__title::before {
    content: "";
    position: absolute;
    width: 195px;
    height: 2px;
    border-radius: 1px;
    bottom: -5px;
    background-color:#fff;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.sp__desc {
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    line-height: normal;
    margin-bottom: 50px;
    letter-spacing: 0.6px;
}
.grid {
    display: grid;
    column-gap: 40px;
    row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.card__img {
    width: 100%;
    height: 250px;
    transition: 0.6s;
}

.card__img > img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-position: center;
    object-fit: cover;
    transition: 0.6s;
    cursor: pointer;
}
.card__img:hover {
    padding: 10px 10px;
}
.card__title {
    font-family: 'Kalnia', serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 4px;
}
.card__desc {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
/* SPECIALS SECTION */

/* SECTION BAKERY */
.bakery > .grid {
    display: grid;
    column-gap: 40px;
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}
.bakery {
    padding: 90px 0;
    text-align: center;
    background-color: var(--color-red);
    color: var(--color-light);
}
/* SECTION BAKERY */

/* CLUB */
.club {
    color: var(--color-light);
    background-color: var(--color-grey);
    padding-top:  190px;
    padding-bottom:  190px;
}
.club__title {
    color: var(--color-dark);
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}
.club__desc {
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.club__item {
    margin-bottom: 35px;
}
.club__text-2 {
    padding-top: 20px;
}
.club__img {
    width: 560px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.489);
}
/* PORTFOLIO */

/* FOOTER */
.c-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 60px;
}
.footer {
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: var(--color-dark);
    color: var(--color-light);
}
.footer__desc {
    margin-bottom: 30px;
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.footer__desc-end {
    margin-top: 80px;
}
.footer__subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
}
.social {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin-right: 20px;
}
.social__link {
    display: block;
    width: 40px;
    height: 40px;
}
.social__link svg {
    display: block;
    width: 100px;
    height: 100%;
    object-fit: cover;
}
.footer__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 28px;
    word-spacing: 5px;
    font-weight: 500;
    line-height: 130%;
}
.footer__form {
    width: 100%;
    position: relative;
}
.footer__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    padding: 24px 0;
    padding-right: 30px;
    width: 100%;
    background-color: transparent;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    color: var(--color-light);
}
.footer__input::placeholder {
    color: var(--color-grey);
}
.footer__btn {
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 24px;
    height: 24px;
}
/* FOOTER */