@import "./reset.css";

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--color-light);
    background-color: var(--color-dark);
}
:root {
    --color-light: #fff;
    --color-grey: #838383;
    --color-dark: #1d1d1f;
    --color-red: rgb(126, 20, 20);
}
.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER SECTION */
.header {
    height: 70px;
    background-color: var(--color-light);
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

.logo__num {
    color: var(--color-red);
}

.header__menu {
    display: flex;
    column-gap: 40px;
}

.header__link {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
    transition: 0.3s;
}

.header__link:hover {
    color: var(--color-red);
}

.header__btn {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid  var(--color-dark);
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.header__btn:hover {
    /* background: rgb(105, 68, 68); */
    background: var(--color-grey);
    color: var(--color-light);
}
/* HEADER SECTION */

/* HERO */
.hero {
    padding-top: 180px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 900px;
    background: url(../src/hero\ \(3\).jpg) no-repeat center/cover;
    background-attachment: fixed;
}
.hero__title {
    margin-bottom: 30px;
    font-size: 76px;
    font-weight: 600;
    line-height: normal;
}
.hero__desc {
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}
.btn {
    padding: 20px;
    min-width: 180px;
    color: var(--color-dark);
    background-color: var(--color-light);
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    border-radius: 30px;
    transition: color 0.3s  ease-in-out, background-color 0.3s ease-in-out;
}
.btn-light {
    color: var(--color-dark);
    background-color: var(--color-light);
}
.btn-light:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
}
.btn-dark {
    color: var(--color-light);
    background-color: var(--color-dark);
}
.btn-dark:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
}
/* HERO */

/* FOOTER */
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 60px;
}
.footer {
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: var(--color-dark);
    color: var(--color-light);
}
.footer__desc {
    margin-bottom: 30px;
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.footer__desc-end {
    margin-top: 80px;
}
.footer__subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
}
.social {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin-right: 20px;
}
.social__link {
    display: block;
    width: 40px;
    height: 40px;
}
.social__link svg {
    display: block;
    width: 100px;
    height: 100%;
    object-fit: cover;
}
.footer__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 28px;
    word-spacing: 5px;
    font-weight: 500;
    line-height: 130%;
}
.footer__form {
    width: 100%;
    position: relative;
}
.footer__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    padding: 24px 0;
    padding-right: 30px;
    width: 100%;
    background-color: transparent;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    color: var(--color-light);
}
.footer__input::placeholder {
    color: var(--color-grey);
}
.footer__btn {
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 24px;
    height: 24px;
}
/* FOOTER */